body {
  border: 0;
  color: #fff;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: #000;
}
a {
  color: #fff;
}
h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 15px;
}
h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 6vw;
  font-weight: 400;
}
.panel p {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.5vw;
  font-weight: 300;
  color: #ddd;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}
.j p {
  text-align: justify;
}
.l p{
  text-align: left;
}
.third p, .fifth p {
  font-size: 1rem;
}
.one {
  background-color: #17438a;
}
.two {
  background-color: #616993;
}
.three {
  background-color: #002752;
}
.wrapper-outer {
  width: 100%;
}
.panel {
  text-align: center;
}
.cnt {
  padding-bottom: 11rem
}
.wrapper-inner section {
  padding-top: 9rem;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  width: 96%;
}
.d {
  display:inline;
  float:left;
  padding: 2%;
  position:relative;
}
.half, .third, .fifth {
  width: 96%;
}
div {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.badge, .h {
  display: none;
}
.badge2 {
  width: 75%;
  padding-top: 10%;
  display: inline;
}
.img {
  width: 100%;
  height: auto;
}
.half.img, .third.img {
  width: 100%;
  height: auto;
  padding: 5%;
}
.video-wrapper {
  position: relative;
  padding-bottom: 54.1%;
  padding-top: 2.2%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper-outer:after, .wrapper-inner:after, section:after, .group:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  .panel p {
    font-size: 1.5rem;
  }
  .half {
    width: 46%;
  }
  .third {
    width: 29.33%;
  }
  .fifth {
    width: 16%;
  }
  .badge {
    width: 135px;
    height: auto;
    border: 0px;
    display: inline;
  }
  .badge2 {
    width: 207px;
    height: auto;
    display: none;
  }
  .h {
    display: inline;
  }
  .desc {
  margin-top: 14%;
}
}
